.top-bar-container {
    width: 100%;
    min-height: max(8vh, 60px);
    padding: 0 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--White);
    box-shadow: 0px 2px 6px var(--Dark-Gray);
}

.top-bar-title {
    font-weight: 800;
    font-size: 1.5rem;
}