@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --Dark-Blue-DM: hsl(209, 23%, 22%);
  --Very-Dark-Blue-DM: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: var(--Very-Dark-Blue);
  background: var(--Very-Light-Gray);
}

a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
}

#dark a {
  color: var(--White);
}